# Rust
target/
**/*.rs.bk
*.pdb

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.*

# Documentation
*.md
!README.md

# Docker
docker-compose*.yml
Dockerfile*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Testing
api-tests.http

#frontend
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
